.navegationbar {
    display: flex;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: end;
    text-align: center;
    flex-direction: row;
}

.glowbtn {
    display: flex;
    position: relative;
    width: 300px;
    margin-top: 5px;
    margin-right: 5px;
    background: #ffffff;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}

.glowbtn:hover {
    letter-spacing: 0.2em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

.glowbtn::before {
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 12px;
    background: #101110d5;
}

.glowbtn span {
    position: relative;
    z-index: 1;
}

.glowbtn i {
    position: absolute;
    inset: 0;
    display: block;
}

.glowbtn i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 15px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #101110d5;
    transform: translateX(-50%);
    transition: 0.5s;
}

.glowbtn:hover i::before {
    width: 25px;
    left: 20%;
}

.glowbtn i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 15px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #101110d5;
    transform: translateX(-50%);
    transition: 0.5s;
}

.glowbtn:hover i::after {
    width: 25px;
    left: 80%;
}
