* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.sidebar {
    width: 70px;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background: #ffffff0f;
    box-shadow: 0 8px 32px #00000066;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid #ffffff26;
    transition: .4s;
}

.sidebar:hover {
    width: 200px;
}

.sidebar .nav-list-top,
.sidebar .nav-list-bottom {
    position: absolute;
    width: 100%;
}

.sidebar .nav-list-top {
    top: 33%;
}

.sidebar .nav-list-bottom {
    bottom: 0;
}

.sidebar .nav-brand img {
    width: 45px;
    border-radius: 50%;
    margin-top: 15px;
    transition: .4s;
}

.sidebar:hover .nav-brand img {
    width: 75px;
    margin-top: 25px;
}

.sidebar .nav-brand .info {
    text-align: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar:hover .nav-brand .info {
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar .nav-brand h2 {
    color: #ffffff;
    font-size: 27px;
}

.sidebar .nav-brand p {
    color: #f1f1f1;
    font-size: 15px;
}

.sidebar .nav-item {
    cursor: pointer;
    padding: 0 23px;
    height: 60px;
    line-height: 60px;
    text-align: left;
    transition: .4s;
}

.sidebar .nav-item:hover {
    background: rgba(255, 255, 255, .1);
}

.sidebar .nav-item i {
    margin: 0 6px;
    font-size: 26px;
    color: #dddddd;
    transform: translateY(5px);
    transition: .4s;
}

.sidebar:hover .nav-item i {
    color: #f4c402;
}

.sidebar .nav-item .label {
    color: #ffffff;
    font-size: 18px;
    opacity: 0;
}

.sidebar:hover .nav-item .label {
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}
