<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMPRESAS</title>
</head>


<body>

    <header>
        <h1>Empresas y Puestos Disponibles</h1>
    </header>

    <main>
        <form action="test.html" method="GET">
            <p>Google</p>
            <select name="google" id="google">
                <option value="">Seleccione el puesto</option>
                <option value="data">Data Analist</option>
                <option value="tester">Tester</option>
                <option value="manager">Project Manager</option>
                <option value="puesto">Puesto que eligió Kevin</option>
            </select>
            <input type="submit" value="CONTINUAR con GOOGLE">
        </form>
        <form action="test.html" method="GET">
            <p>Amazon</p>
            <select name="amazon" id="amazon">
                <option value="">Seleccione el puesto</option>
                <option value="google">Data Analist</option>
                <option value="amazon">Front Developer</option>
                <option value="amazon">Tester</option>
            </select>
            <input type="submit" value="CONTINUAR con AMAZON">
        </form>
        <form action="test.html" method="GET">
            <p>Meta</p>
            <select name="meta" id="meta">
                <option value="">Seleccione el puesto</option>
                <option value="google">Tester</option>
                <option value="amazon">Backend Developer</option>
            </select>
            <input type="submit" value="CONTINUAR con META">
        </form>
    </main>

    <footer>

    </footer>

</body>


</html>